@using ASPTute_Vidly.Controllers
@using Microsoft.Ajax.Utilities
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@HomeController.APP_TITLE</h1>
    <p class="lead">@HomeController.APP_TITLE is an ASP.Net project created by following a Udemy tutorial by Mosh Hamedani. @HomeController.APP_TITLE utilises C#, Entity Framework and Razor Views.</p>
</div>